/** template rtl css **/

.page_direction{
    display: none;
}

.rtl {
  direction: rtl; 
}

.ltr {
  direction: ltr; 
}

.rtl .pull-left{
  float: right;
}
.rtl .pull-right{
  float: left;
}

.rtl .main-menu {
    float: right;
}
.rtl .main-menu .navigation>li {
    float: right;
}
.rtl .main-menu .navigation> li:first-child {
    margin-right: 0px;
}
.rtl .main-menu .navigation> li:last-child {
    margin-right: 40px;
}
.rtl .main-menu .navigation> li> ul {
    left: auto;
    right: inherit;
}
.rtl .main-menu .navigation> li> ul> li> a {
    text-align: right;
}
.rtl .main-menu .navigation> li> ul> li> a:before {
    display: none;
}
.rtl .main-menu .navigation> li> ul> li> ul> li a:before {
    display: none;
}
.rtl .main-menu .navigation> li> ul> li.dropdown> a:after {
    display: none;
}
.rtl .main-menu .navigation> li> ul> li> ul {
    left: auto;
    right: 100%;
}
.rtl .main-menu .navigation> li> ul> li> ul> li> a {
    text-align: right;
}
.rtl .sticky-header .main-menu .navigation> li {
    float: right;
}


.rtl .main-menu .navigation> li> .megamenu li> a {
	text-align: right;
}
.rtl .main-menu .navigation> li> .megamenu li> a:hover {
    padding-left: 0;
}
.rtl .main-menu .navigation> li> .megamenu li:hover a:before{
    width: 0;
}



.rtl .mobile-menu{
  text-align: right;
}
.rtl .mobile-menu .nav-logo{
  text-align: right;
}
.rtl .mobile-menu .navigation li > a:before{
  left: inherit;
  right: 0px;
}
.rtl .mobile-menu .navigation li.dropdown .dropdown-btn{
  right: inherit;
  left: 6px;
  transform: rotate(90deg);
}
.rtl .mobile-menu .navigation li.dropdown .dropdown-btn.open{
  transform: rotate(0deg);
}

.rtl .scroll-top {
    left: 20px;
    right: auto;
}
.rtl .switcher .switch_btn {
    top: 0px;
    right: 0px;
}
.rtl .switcher .switch_menu {
    left: -240px;
}

.rtl .banner-carousel{
    direction: ltr;
    text-align: right;
}

.rtl .search-popup .search-form fieldset input[type="search"]{
	text-align: right;
}

.rtl .main-slider .content .big-title{
	max-width: 620px;
	text-align: right;
}

.rtl .main-slider .content .text{
	max-width: 620px;
	text-align: right;
}

.rtl .main-slider .content .btns-box{
	max-width: 620px;
	text-align: right;
	display: block;
}

.rtl .about-style1__content{
	text-align: right;
}

.rtl .about-style1__content .inner-content ul li{
	padding-left: 0px;
	padding-right: 85px;
}

.rtl .about-style1__content .inner-content ul li .icon{
	left: inherit;
	right: 0px;
}

.rtl .project-top-title{
	text-align: right;
}

.rtl .project-style1-carousel.owl-nav-style-one.owl-theme .owl-nav{
	right: inherit;
	left: 0px;
	text-align: left;
}

.rtl .testimonials-style1__content{
	text-align: right;
}

.rtl .single-testimonials-style1 .client-info{
	float: right;
}

.rtl .single-fact-counter .outer-box{
	text-align: right;
}

.rtl .single-team-style1 .title-holder .title-inner{
	text-align: right;
}

.rtl .faq-style1__content{
	text-align: right;
}

.rtl .accordion-box .block .acc-content{
	padding-right: 75px;
}

.rtl .contact-form-box1{
	text-align: right;
}

.rtl input,
.rtl textarea{
	text-align: right;
}

.rtl .single-blog-style1 .text-holder .meta-info li{
	padding-right: 0px;
	padding-left: 16px;
	margin-right: 0px;
	margin-left: 12px;
	float: right;
}

.rtl .single-blog-style1 .text-holder .meta-info li::before{
	right: inherit;
	left: 0px;
}

.rtl .text-right-rtl{
	text-align: right;
}

.rtl .footer-widget-contact-info ul li .inner{
	padding-left: 0px;
	padding-right: 35px;
}

.rtl .footer-widget-contact-info ul li .inner .icon{
	left: inherit;
	right: 1px;
}

.rtl .about-style3-content-box{
	text-align: right;
}

.rtl .choose-style1-content-box{
	text-align: right;
}

.rtl .choose-style1-content-box .inner-content ul li{
	padding-left: 0px;
	padding-right: 60px;
}

.rtl .choose-style1-content-box .inner-content ul li .icon{
	left: inherit;
	right: 0px;
}

.rtl .single-testimonials-style2 .inner{
	text-align: right;
}

.rtl .single-testimonials-style2 .img-box{
	right: inherit;
	left: 40px;
}

.rtl .review-box ul li{
	float: right;
	margin-right: 0px;
	margin-left: 5px;
}

.rtl .breadcrumb-area{
	text-align: right;
}

.rtl .breadcrumb-menu ul li{
	float: right;
}

.rtl .breadcrumb-item+.breadcrumb-item{
	padding-left: 0px;
	padding-right: 8px;
}

.rtl .breadcrumb-item+.breadcrumb-item::before{
	float: right;
	padding-right: 0px;
	padding-left: 8px;
	margin-right: 0px;
	margin-left: 10px;
}

.rtl .service-details-area{
	text-align: right;
}

.rtl .single-sidebar .service-page-link li a{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .single-sidebar .service-page-link li a:before{
	left: inherit;
	right: 0px;
	transform: rotate(180deg);
}

.rtl .service-details-text2 ul li{
	padding-left: 0px;
	padding-right: 20px;
}

.rtl .service-details-text2 ul li:before{
	left: inherit;
	right: 0px;
}

.rtl .service-details-text3 .single-box .counting{
	display: inline-block;
}

.rtl .team-member-info-box{
	text-align: right;
}

.rtl .team-member-content-box{
	text-align: right;
}

.rtl .four.team-single-area{
	text-align: right;
}

.rtl .resume .info-box ol li{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .resume .info-box ol li:before{
	left: inherit;
	right: 0px;
}

.rtl .resume .info-box ol li:after{
	left: inherit;
	right: 10px;
}

.rtl .single-price-box .price-list{
	text-align: right;
}

.rtl .single-project-item--style2 .title-holder{
	text-align: right;
}

.rtl .project-details-content{
	text-align: right;
}

.rtl .project-info-box{
	text-align: right;
}

.rtl .faq-form-box{
	text-align: right;
}

.rtl .sidebar-wrapper{
	text-align: right;
}

.rtl .mrwidget ul li a{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .mrwidget ul li a:before{
	left: inherit;
	right: 0px;
	transform: rotate(180deg);
}

.rtl .woocommerce ul.cart_list li img, 
.rtl .woocommerce ul.product_list_widget li img{
	float: left;
}

.rtl .woocommerce .woocommerce-result-count{
	text-align: right;
}

.rtl .blog-page-three.mr_page{
	text-align: right;
}

.rtl .blog-page-three{
	text-align: right;
}

.rtl .pagination{
	display: block;
}

.rtl .styled-pagination li{
	float: right;
	margin-right: 0px;
	margin-left: 10px;
}

.rtl .widget_tag_cloud a{
	float: right;
}

.rtl .sidebar-blog-post ul li .inner{
	padding-left: 0px;
	padding-right: 80px;
}

.rtl .sidebar-blog-post ul li .img-box{
	left: inherit;
	right: 0px;
}

.rtl .sidebar-blog-post ul li .title-box{
	padding-left: 0px;
	padding-right: 20px;
}

.rtl .comment-box .single-comment-box{
	padding-left: 0px;
	padding-right: 100px;
}

.rtl .comment-box .single-comment-box .img-holder{
	left: inherit;
	right: 0px;
}

.rtl .comment-box .single-comment-box .text-holder{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .main-menu .navigation> li> ul> li> a, 
.rtl .main-menu .navigation> li> .megamenu li> a{
	text-align: right;
}

.rtl .header-contact-info ul li .text{
	text-align: right;
}

.rtl .team-home-four .team-block .inner-box .lower-content{
	text-align: right;
}

.rtl .team-home-four .team-block .inner-box .share-box{
	right: inherit;
	left: 20px;
}

.rtl .project-home-four .project-block .inner-box .text{
	text-align: right;
	padding-right: 30px;
}

.rtl .chooseus-home-four .content-box{
	text-align: right;
}

.rtl .service-home-four .content-box{
	text-align: right;
}

.rtl .service-home-four .content-box .list li{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .service-home-four .content-box .list li:before{
	left: inherit;
	right: 0px;
}

.rtl .about-home-four .about-style3-content-box .inner-box .single-item{
	padding-left: 0px;
	padding-right: 80px;
}

.rtl .about-home-four .about-style3-content-box .inner-box .single-item .icon-box{
	left: inherit;
	right: 0px;
}

.rtl .main-slider.home-4 .content{
	text-align: right;
	max-width: 620px;
}

.rtl .main-slider.home-4 .content .upper-title h5{
	padding-left: 0px;
	padding-right: 70px;
}

.rtl .main-slider.home-4 .content .upper-title h5:before{
	left: inherit;
	right: 0px;
}

.rtl .contact-style2__title h2{
	text-align: right;
}

.rtl .team-details-content .content-box{
	text-align: right;
}

.rtl .team-details-content .content-box .info li{
	padding-left: 0px;
	padding-right: 35px;
}

.rtl .team-details-content .content-box .info li i{
	left: inherit;
	right: 0px;
}

.rtl .team-details-content .content-box .social-links li{
	float: right;
	margin-right: 0px;
	margin-left: 10px;
}

.rtl .team-details .experience-box{
	text-align: right;
}

.rtl .team-details h3{
	text-align: right;
}

.rtl .team-details .education-box .text{
	text-align: right;
}

.rtl .team-details .education-box .single-item{
	text-align: right;
}

.rtl .project-info-box ul li.style2{
	float: right;
}

.rtl .woocommerce .woocommerce-ordering select{
	text-align: right;
}
















/*** 
=============================================
    RTL Page Responsive Css
=============================================
***/

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
 




    
    
    
    
    
}





@media only screen and (max-width: 991px) and (min-width: 768px){
        
.rtl .sidebar-wrapper {
    float: right;
}
    
    

    
  
    
    
    
    
    
    
    
    
}






@media only screen and (max-width: 767px) { 

     
.rtl .sidebar-wrapper {
    float: right;
}  
    

    


   
    
    
}




/******************** mj*****************/
.rtl .breadcrumb-item+.breadcrumb-item::before{
    content: "\f104" !important;
}
.rtl .blog-details-social-links{
    direction: rtl;
}

.rtl .breadcrumb-menu , .rtl .logged-in-as , .rtl .wp-style , .rtl .text-holder {
        direction: rtl;
}
.rtl .wp-block-search .wp-block-search__button{
    margin-right:unset !important;
}
.rtl .widget_block.widget_tag_cloud{
    display:inline-block !important;
}
.rtl .woocommerce .woocommerce-ordering select{
    height: unset !important;
}
.woocommerce #place_order, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
     font-family:iransans;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button ,.woocommerce #review_form #respond .form-submit input{
     font-family:iransans;
}
.woocommerce nav.woocommerce-pagination ul li{
    border-left: unset;
}
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents{
     direction: rtl;
}
.rtl .product.type-product{
     direction: rtl;
     text-align:right;
}
.rtl .product.type-product .cart-wrapper .quantity{
    float: right;
}
/*.rtl ul.tabs.wc-tabs{*/
/*    display: flex;*/
/*}*/
.woocommerce div.product .woocommerce-tabs ul.tabs li{
      float: right;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
    margin-right: unset !important;
    margin-left: 8px;
}
#payment {
    direction: rtl;
    text-align: right;
}
.woocommerce-checkout #payment ul.payment_methods li {
    text-align: right;
}
.service-carousel_1.owl-nav-style-one.owl-theme .owl-nav{
    left:0;
    right:auto;
}
.team-details-content .content-box .social-box h4,.team-details .education-box .single-item h4{
         font-family:iransans;
}

.main-menu .navigation> li> ul> li, .main-menu .navigation> li> .megamenu li {
    position: relative;
    display: block;
    right: 74%;
    left:unset !important;
    padding: 0 20px;
    width: 100%;
}
.main-menu .navigation> li> ul:before, .main-menu .navigation> li> .megamenu:before {
    position: absolute;
    top: 0px;
    right: 74%;
    left:unset !important;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--thm-base);
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
    -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
    z-index: -1;
}
.scroll-top:after {
    position: absolute;
    content: '';
    top: -20%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    z-index: -1;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
    background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
.rtl .service-home-four .content-column , .rtl .faq-style1__content .text p , .text , .rtl .single-project-item p , .client-info{
        direction: rtl;
}
.fontiran{
    font-family:iransans;
}
.count-outer span {
      font-family:iransans;
}
.icon-box span {
   font-family:iransans !important; 
}
.main-menu .navigation>li.dropdown>a:after{
    right: auto !important; 
    left: -15px !important; 
}

.workig-process-home-four .process-block .inner-box .arrow {
    position: absolute;
    top: 70px;
    right: auto  !important; 
    left: -77px !important; 
    width: 103px;
    height: 15px;
    background-repeat: no-repeat;
    rotate: 90px;
    transform: rotateY(225deg);
}
.main-header.home_four .header-top__right .support-box .icon {
    position: absolute;
    right: -35px;
    left:unset;
    top: 0px;
    font-size: 24px;
    color: #ed202b;
}
.header-contact-info ul li .icon {
    width: 30px;
    margin-left: 9px;
    line-height: 20px;
}
.rtl .header-contact-info ul li .text {
    text-align: right;
    margin-top: 6px;
}
.header-social-link .social-link {
    position: relative;
    display: block;
    padding-right: 30px;
    padding-left:unset;
}
.main-header.home_four .header-top__right .support-box{
    margin-right: 45px !important;
}
.sidebar-info-contents * {
    direction: ltr;
    text-align: right;
    font-family: iransans;
}