/** home-4 style css **/

.main-header.home_four .header-left .logo--style2 .bg-box{
	width: 312px;
	height: 247px;
	top: -88px;
	left: -30px;
}

.main-header.home_four .header-left .logo--style2{
	z-index: 20;
}

.main-header.home_four .header-top{
	padding-left: 380px;
}

.main-header.home_four .header .auto-container{
	padding-left: 30px;
}

.main-header.home_four .header-left .logo a{
	top: -8px;
}

.main-header.home_four .header-contact-info ul li .icon span:before{
	color: #ed202b;
}

.main-header.home_four .header-contact-info ul li h6{
	font-weight: 600;
}

.main-header.home_four .header-top__right .support-box{
	position: relative;
	margin-right: 60px;
	padding-left: 33px;
}

.main-header.home_four .header-top__right .support-box:before{
	position: absolute;
	content: '';
	background: rgba(255, 255, 255, 0.20);
	width: 1px;
	height: 15px;
	top: 5px;
	right: -30px;
}

.main-header.home_four .header-top__right .support-box .icon{
	position: absolute;
	left: 0px;
	top: 2px;
	font-size: 24px;
	color: #ed202b;
}

.main-header.home_four .header-top__right .support-box h6{
	font-size: 15px;
	line-height: 26px;
	font-weight: 600;
	color: #e7bd1a;
}

.main-header.home_four .header-top__right .support-box h6 a{
	color: #fff;
	transition: all 500ms ease;
}


.main-header.home_four .header-top__right .support-box h6 a:hover{
	color: #ed202b;
}

.main-header.home_four .header-middle .nav-outer{
	margin-right: 115px;
}

.main-header.home_four .nav-btn{
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 30px;
}

.main-header.home_four .nav-btn .bar{
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #252628;
  top: 0px;
  right: 0px;
  transition: all 500ms ease;
}

.main-header.home_four .nav-btn:hover .bar{
	width: 28px;
	background: #ed202b;
}

.main-header.home_four .nav-btn .bar:nth-child(2){
  top: 9px;
  width: 28px;
}

.main-header.home_four .nav-btn .bar:last-child{
  top: 18px;
}

.main-header.home_four .btn-one{
	line-height: 50px;
}

.main-header.home_four .header-right_buttom{
	margin-left: 40px;
}

.main-header.home_four .shopping-cart-box a{
	border: none;
	color: #222;
}

.main-header.home_four .shopping-cart-box a:hover{
	color: #ed202b;
}

.main-header.home_four .header-contact-info ul li .icon span:before{
	font-size: 20px;
}


/** xs-sidebar **/

.xs-sidebar-group .xs-overlay{
  left:0%;
  top:0;
  position:fixed;
  height:100%;
  opacity:0;
  width:100%;
  visibility:hidden;
  -webkit-transition:all .4s ease-in .8s;
  -o-transition:all .4s ease-in .8s;
  transition:all .4s ease-in .8s;
  cursor:url(../images/icons/cross-out.png),
  pointer; 
  z-index: 999999;
}

.xs-sidebar-group.isActive .xs-overlay{
  opacity:.9;
  visibility:visible;
  -webkit-transition:all .8s ease-out 0s;
  -o-transition:all .8s ease-out 0s;
  transition:all .8s ease-out 0s;
  right:100%;
}

.xs-sidebar-group .widget-heading{
  position:absolute;
  top:0;
  right:0;
}

.xs-sidebar-widget{
  position:fixed;
  right:-100%;
  top:0;
  bottom:0;
  width:100%;
  max-width:400px;
  z-index:999999;
  overflow:hidden;
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
  background-color:#fff;
  -webkit-transition:all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  -o-transition:all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  transition:all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  visibility:hidden;
  opacity:0;
}

.xs-sidebar-group.isActive .xs-sidebar-widget{
  opacity:1;
  visibility:visible;
  right:0;
  -webkit-transition:all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
  -o-transition:all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
  transition:all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
}

.sidebar-textwidget {
    padding: 50px 50px;
}

.xs-sidebar-group .close-side-widget{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ebeef0;
  color: #222;
  border-radius: 50%;
  font-weight: 400;
  font-size: 20px;
  top: 10px;
  right: 10px;
  transform: rotate(45deg);
}

.sidebar-widget-container{
  position:relative;
  top:150px;
  opacity:0;
  visibility:hidden;
  -webkit-transition:all .3s ease-in .3s;
  -o-transition:all .3s ease-in .3s;
  transition:all .3s ease-in .3s;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

.xs-sidebar-group.isActive .sidebar-widget-container{
  top:0px;
  opacity:1;
  visibility:visible;
  -webkit-transition:all 1s ease-out 1.2s;
  -o-transition:all 1s ease-out 1.2s;
  transition:all 1s ease-out 1.2s;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

.xs-overlay{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  opacity:.5;
  z-index:0;
}

.xs-bg-black{
  background-color:#000000;
}

.xs-sidebar-group .logo {
    position: relative;
    max-width: 180px;
    margin-bottom: 45px;
}

.xs-sidebar-group .logo img{
  width: 100%;
}

.xs-sidebar-group .content-inner .text{
  position: relative;
  display: block;
  margin-bottom: 35px;
}

.xs-sidebar-group .content-inner h4{
	display: block;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 20px;
}

.xs-sidebar-group .content-inner .info-box .info{
	position: relative;
	display: block;
	margin-bottom: 38px;
}

.xs-sidebar-group .content-inner .info-box .info li{
	position: relative;
	display: block;
	padding-left: 33px;
	font-size: 15px;
	line-height: 26px;
	color: #808080;
	margin-bottom: 14px;
}

.xs-sidebar-group .content-inner .info-box .info li:last-child{
	margin-bottom: 0px;
}

.xs-sidebar-group .content-inner .info-box .info li i{
	position: absolute;
	left: 0px;
	top: 2px;
	color: #ed202b;
	font-size: 20px;
}

.xs-sidebar-group .content-inner .info-box .info li a{
	display: inline-block;
	color: #808080;
	transition: all 500ms ease;
}

.xs-sidebar-group .content-inner .info-box .info li a:hover{
	color: #ed202b;
}

.xs-sidebar-group .content-inner .social-links li{
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.xs-sidebar-group .content-inner .social-links li:last-child{
	margin: 0px !important;
}

.xs-sidebar-group .content-inner .social-links li a{
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #ebeef0;
	text-align: center;
	font-size: 16px;
	color: #222;
	border-radius: 50%;
	transition: all 500ms ease;
}

.xs-sidebar-group .content-inner .social-links li a:hover{
	color: #fff;
	background: #ed202b;
}

/** slider-style **/

.main-slider.home-4 .content{
	text-align: left;
}

.main-slider.home-4 .content .upper-title{
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
	opacity: 0;
  -webkit-transform: perspective(400px) rotateY(0deg) translateY(-120px);
  -ms-transform: perspective(400px) rotateY(0deg) translateY(-120px);
  transform: perspective(400px) rotateY(0deg) translateY(-120px);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  z-index: 10;
}

.main-slider.home-4 .active .content .upper-title{
	opacity: 1;
  -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
  -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
  transform: perspective(400px) rotateY(0deg) translateY(0px);
  -webkit-transition-delay: 1300ms;
  -moz-transition-delay: 1300ms;
  -ms-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms;   
}

.main-slider.home-4 .content .upper-title h5{
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	font-weight: 700;
	padding-left: 70px;
	text-transform: uppercase;
}

.main-slider.home-4 .content .upper-title h5:before{
	position: absolute;
	content: '';
	background: #ed202b;
	width: 50px;
	height: 2px;
	left: 0px;
	top: 10px;
}

.main-slider.home-4 .slide .image-layer:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
   background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.0) 100%);
  top: 0px;
  right: 0px;
  z-index: 1;
  opacity: 1;
}

.main-slider.home-4 .slide{
	padding-bottom: 120px;
}


/** feature-home-four **/

.feature-home-four{
	position: relative;
}

.feature-home-four .inner-container{
	position: relative;
	z-index: 22;
	/* margin-top: -85px; */
}

.feature-block-one .inner-box{
	position: relative;
	display: block;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0px 10px 50px 0px rgb(26 46 85 / 10%);
}

.feature-block-one .inner-box:before{
	position: absolute;
	content: '';
	background: #ed202b;
	width: 100%;
	height: 0%;
	left: 0px;
	bottom: 0px;
	border-radius: 15px;
	transition: all 500ms ease;
}

.feature-block-one .inner-box:hover:before{
	height: 100%;
	top: 0px;
}

.feature-block-one .inner-box .icon-box{
	position: relative;
	display: block;
}

.feature-block-one .inner-box .icon-box .icon{
	position: relative;
	font-size: 60px;
	line-height: 60px;
	color: #ed202b;
  top: -20px;
	transition: all 500ms ease;
}

.feature-block-one .inner-box .icon-box .shape-1{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -77px;
	width: 201px;
	height: 77px;
	background-repeat: no-repeat;
}

.feature-block-one .inner-box .icon-box .shape-2{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -76px;
	width: 201px;
	height: 78px;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 500ms ease;
}

.feature-block-one .inner-box:hover .icon-box .shape-2{
	opacity: 1;
}

.feature-block-one .inner-box h4{
	display: block;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 14px;
}

.feature-block-one .inner-box h4 a{
	display: inline-block;
	color: #252628;
	transition: all 500ms ease;
}

.feature-block-one .inner-box h4 a:hover{
	text-decoration: underline;
}

.feature-block-one .inner-box p{
	position: relative;
	transition: all 500ms ease;
}

.feature-block-one .inner-box:hover h4 a,
.feature-block-one .inner-box:hover .icon-box .icon{
	color: #fff !important;
}

.feature-block-one .inner-box:hover p{
	color: rgba(255, 255, 255, 0.60);
}

.feature-block-one .inner-box .lower-content{
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0px 40px 33px 40px;
	border-radius: 15px;
	margin-bottom: 160px;
}

.feature-block-one .inner-box .lower-content .light-icon{
	position: absolute;
	right: -9px;
	bottom: -28px;
	font-size: 60px;
	line-height: 60px;
	color: #fbd2d5;
}

/** about-home-four **/

.about-home-four{
	position: relative;
	padding: 150px 0px;
}

.about-home-four .image-box{
	position: relative;
	display: block;
	padding-right: 230px;
	margin-right: 40px;
	padding-top: 50px;
	padding-bottom: 190px;
}

.about-home-four .image-box .image{
	border-radius: 15px;
	position: relative;
}

.about-home-four .image-box img{
	width: 100%;
	border-radius: 15px;
}

.about-home-four .image-box .image-2{
	position: absolute;
	top: 0px;
	right: 0px;
}

.about-home-four .image-box .image-3{
	position: absolute;
	right: 60px;
	bottom: 0px;
}

.about-home-four .image-box .image-shape-1{
	position: absolute;
	left: -70px;
	top: -80px;
	width: 243px;
	height: 243px;
	background-repeat: no-repeat;
}

.about-home-four .image-box .image-shape-2{
	position: absolute;
	right: -10px;
	bottom: 210px;
	width: 143px;
	height: 143px;
	background-repeat: no-repeat;
}

.about-home-four .pattern-layer .pattern-1{
	position: absolute;
	left: 0px;
	bottom: 40px;
	width: 479px;
	height: 274px;
	background-repeat: no-repeat;
}

.about-home-four .pattern-layer .pattern-2{
	position: absolute;
	right: 0px;
	bottom: 70px;
	width: 305px;
	height: 364px;
	background-repeat: no-repeat;
}

.about-home-four .about-style3-content-box .inner-box .single-item{
	position: relative;
	display: block;
	padding-left: 80px;
	margin-bottom: 25px;
}

.about-home-four .about-style3-content-box .inner-box .single-item:last-child{
	margin-bottom: 0px;
}

.about-home-four .about-style3-content-box .inner-box .single-item .icon-box{
	position: absolute;
	left: 0px;
	top: 8px;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #fde8e9;
	font-size: 24px;
	text-align: center;
	border-radius: 50%;
	color: #ed202b;
}

.about-home-four .about-style3-content-box .inner-box .single-item:last-child .icon-box{
	background: #fbf4d8;
	color: #e7bd1a;
}

.about-home-four .about-style3-content-box .inner-box .single-item h4{
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
}

.about-home-four .about-style3-content-box .single-counting-box{
	height: 88px;
	border-radius: 10px;
}

figure{
	margin-bottom: 0px;
}


/** service-home-four **/

.service-home-four{
	position: relative;
	background: #1f2021;
	padding: 140px 0px 180px 0px;
}

.service-home-four .sec-title h2 {
  color: #ffffff;
}

.service-home-four .tabs-box .tab{
  position:relative;
  display:none;
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
}

.service-home-four .tabs-box .tab.active-tab{
  display:block;  
}

.service-home-four .tabs-box .tab{
  transform:scale(0.9,0.9) translateY(0px);
}

.service-home-four .tabs-box .tab.active-tab{
  transform:scale(1) translateY(0px);
}

.service-home-four .image-box{
	position: relative;
	display: block;
	padding-right: 120px;
	padding-bottom: 70px;
}

.service-home-four .image-box .image{
	border-radius: 20px;
}

.service-home-four .image-box .image img{
	width: 100%;
	border-radius: 20px;
}

.service-home-four .image-box .image-2{
	position: relative;
	right: -80px;
	bottom: 40px;
	z-index: 1;
}

.service-home-four .image-box .image-1{
	position: relative;
	overflow: hidden;
}

.service-home-four .image-box .image-1:before{
  position: absolute;
  top: 0;
  left: -75%;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  z-index: 1;
}

.service-home-four .image-box:hover .image-1:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}



.service-home-four .content-box{
	position: relative;
	display: block;
}

.service-home-four .content-box h3{
	display: block;
	font-size: 24px;
	line-height: 32px;
	color: #fff;
	margin-bottom: 15px;
}

.service-home-four .content-box .text p{
	color: #bcbdbd;
	margin-bottom: 26px;
}

.service-home-four .content-box .text p:last-child{
	margin-bottom: 0px;
}

.service-home-four .content-box .text{
	position: relative;
	display: block;
	margin-bottom: 25px;
}

.service-home-four .content-box h4{
	display: block;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 19px;
}

.service-home-four .content-box .list li{
	position: relative;
	display: inline-block;
	float: left;
	width: 33%;
	padding-left: 30px;
	font-size: 15px;
	color: #c6c6c6;
	margin-bottom: 12px;
}

.service-home-four .content-box .list li:before{
	position: absolute;
	content: "\f05d";
	font-family: 'FontAwesome';
	font-size: 20px;
	left: 0px;
	top: 0px;
	color: #ed202b;
}

.service-home-four .content-box .list.style-two li{
	width: 100%;
}

.mb_30{
	margin-bottom: 30px;
}

.mb_0{
	margin-bottom: 0px !important;
}

.ml_30{
	margin-left: 30px;
}

.mr_30{
	margin-right: 30px;
}

.pr_0{
	padding-right: 0px !important;
}

.service-home-four .image-box .image-shape-1{
	position: absolute;
	left: -70px;
	bottom: -15px;
	width: 193px;
	height: 193px;
	background-repeat: no-repeat;
}

.service-home-four .image-box .image-shape-2{
	position: absolute;
	left: -100px;
	bottom: 0px;
	width: 193px;
	height: 193px;
	background-repeat: no-repeat;
}

.service-home-four .image-box .image.image-1.image-3{
	margin-right: -30px !important;
}

.service-home-four .image-box .image.image-1.image-3 img {
    /* min-height: 468px; */
}

.service-home-four .image-box  .two-image{
	
}

.service-home-four .image-box .image-4 {
    position: relative;
    margin-bottom: 30px !important;
    overflow: hidden;
}

.service-home-four .image-box .image-5{
	position: relative;
	overflow: hidden;
}

.service-home-four .image-box .image-4::before,
.service-home-four .image-box .image-5::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255,.2);
  border-radius: 0%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.service-home-four .image-box .image-4:hover::before,
.service-home-four .image-box .image-5:hover::before{
  -webkit-animation: circle .95s;
  animation: circle .95s;
}

.service-home-four .tab-btn-box{
	position: relative;
	display: block;
	margin-bottom: 50px;
}

.service-home-four .tab-btn{
	position: relative;
	display: block;
	background: #363738;
	border-radius: 10px;
	padding: 35px 30px;
	text-align: center;
	cursor: pointer;
	z-index: 1;
	transition: all 500ms ease;
}

.service-home-four .tab-btn:before{
	position: absolute;
	content: '';
	background: #ed202b;
	width: 26px;
	height: 26px;
	left: 50%;
	bottom: 0px;
	opacity: 0;
	z-index: -1;
	transform: translateX(-50%) rotate(45deg);
	transition: all 500ms ease;
}

.service-home-four .tab-btn:hover:before,
.service-home-four .tab-btn.active-btn:before{
	bottom: -10px;
	opacity: 1;
}

.service-home-four .tab-btn h4{
	font-size: 20px;
	line-height: 30px;
	color: #fff;
}

.service-home-four .tab-btn:hover,
.service-home-four .tab-btn.active-btn{
	background: #ed202b;
}

.service-home-four .pattern-layer .pattern-1{
	position: absolute;
	left: 0px;
	bottom: 285px;
	width: 223px;
	height: 369px;
	background-repeat: no-repeat;
}

.service-home-four .pattern-layer .pattern-2{
	position: absolute;
	right: 0px;
	bottom: 50px;
	width: 615px;
	height: 775px;
	background-repeat: no-repeat;
}


/** funfact-home-4 **/

.funfact-home-4{
	position: relative;
}

.funfact-home-4 .inner-container{
	position: relative;
	margin-top: -100px;
	z-index: 1;
}

.funfact-home-4 .single-item{
	position: relative;
	display: block;
	background: #fff;
	border-radius: 20px;
	padding: 40px 30px 33px 30px;
	box-shadow: 0px 10px 50px 0px rgb(26 46 85 / 10%);
}

.funfact-home-4 .single-item .icon-box{
	position: relative;
	display: inline-block;
	width: 75px;
	height: 75px;
	line-height: 75px;
	font-size: 30px;
	color: #ed202b;
	background: #fde8e9;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 18px;
	z-index: 1;
	transition: all 500ms ease;
}

.funfact-home-4 .single-item:hover .icon-box{
	color: #fff !important;
}

.funfact-home-4 .single-item .icon-box:before{
	position: absolute;
	content: '';
	background: #ed202b;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	transform: scale(0,0);
	border-radius: 50%;
	z-index: -1;
	transition: all 500ms ease;
}

.funfact-home-4 .single-item:hover .icon-box:before{
	transform: scale(1,1);
}

.funfact-home-4 .single-item .count-outer{
	position: relative;
	display: block;
	font-size: 60px;
	line-height: 60px;
	font-family: 'Montserrat', sans-serif;
	color: #252628;
	font-weight: 600;
	margin-bottom: 11px;
}

.funfact-home-4 .single-item p{
	font-size: 16px;
	font-weight: 600;
	color: #252628;
	margin-bottom: 0px;
}

.funfact-home-4 .single-column:nth-child(2),
.funfact-home-4 .single-column:last-child{
	padding-top: 40px;
}


/** chooseus-home-four **/

.chooseus-home-four{
	position: relative;
}

.chooseus-home-four .inner-container{
	position: relative;
	padding: 140px 0px 120px 0px;
}

.chooseus-home-four .inner-container .image-box{
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.chooseus-home-four .single-item{
	position: relative;
	display: block;
	overflow: hidden;
	background: #f8f5ee;
	border-radius: 20px;
	text-align: center;
	margin-bottom: 30px;
	padding: 30px 30px 34px 30px;
}

.chooseus-home-four .single-item .icon-box{
	position: relative;
	display: block;
	font-size: 60px;
	line-height: 60px;
	color: #ed202b;
	margin-bottom: 15px;
}

.chooseus-home-four .single-item h5{
	display: block;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 0px;
}

.chooseus-home-four .single-item .overlay-text{
	position: absolute;
	left: 0px;
	top: 20px;
	width: 100%;
	height: 100%;
	padding: 35px 30px 34px 30px;
	border-radius: 20px;
	background: #ed202b;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: all 500ms ease;
}

.chooseus-home-four .single-item:hover .overlay-text{
	top: 0px;
	visibility: visible;
	opacity: 1;
}

.chooseus-home-four .single-item .overlay-text h5{
	color: #fff;
	margin-bottom: 14px;
}

.chooseus-home-four .single-item .overlay-text p{
	color: #fff;
	margin-bottom: 0px;
}

.chooseus-home-four .inner-box{
	position: relative;
}

.chooseus-home-four .inner-box .content-shape{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 213px;
	height: 213px;
	background-repeat: no-repeat;
}

.chooseus-home-four .pattern-layer .pattern-1{
	position: absolute;
	left: 0px;
	bottom: -120px;
	width: 634px;
	height: 669px;
	background-repeat: no-repeat;
}

.chooseus-home-four .pattern-layer .pattern-2{
	position: absolute;
	right: 215px;
	bottom: 70px;
	width: 391px;
	height: 325px;
	background-repeat: no-repeat;
}

.chooseus-home-four .pattern-layer .pattern-3{
	position: absolute;
	right: 450px;
	top: 250px;
	width: 143px;
	height: 143px;
	background-repeat: no-repeat;
}

.testimonials-style3-area.home-four{
	position: relative;
	background: #f8f5ee;
}


.testimonials-style3-area.home-four .pattern-layer{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-size: cover;
	background-repeat: no-repeat;
}


/** project-home-four **/

.project-home-four{
	position: relative;
}

.project-home-four .project-block .inner-box{
	position: relative;
	display: block;
	overflow: hidden;
}

.project-home-four .project-block .inner-box .image-box{
	position: relative;
	display: block;
	overflow: hidden;
	background: #1f2021;
}

.project-home-four .project-block .inner-box .image-box img{
	width: 100%;
	transition: all 500ms ease;
}

.project-home-four .project-block .inner-box:hover .image-box img{
	opacity: 0.15;
	transform: scale(1.05);
}

.project-home-four .project-block .inner-box .zoom-button{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.project-home-four .project-block .inner-box .zoom-button a{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	color: #ed202b;
	transform: scale(0,0);
	transition: all 500ms ease;
}

.project-home-four .project-block .inner-box .zoom-button a:hover{
	background: #ed202b;
	color: #fff !important;
}

.project-home-four .project-block .inner-box:hover .zoom-button a{
	transform: scale(1,1);
}

.single-features-style1:hover .icon span::before,
.single-features-style1.active .icon span::before{
	color: #fff !important;
}

.styled-pagination li:hover a i{
	color: #fff !important;
}

.project-home-four .project-block .inner-box .text{
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding-left: 30px;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 500ms ease;
}

.project-home-four .project-block .inner-box:hover .text{
	bottom: 16px;
	opacity: 1;
	visibility: visible;
}

.project-home-four .project-block .inner-box .text h4{
	display: block;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 5px;
}

.project-home-four .project-block .inner-box .text h4 a{
	display: inline-block;
	color: #fff;
	transition: all 500ms ease;
}

.project-home-four .project-block .inner-box .text h4 a:hover{
	color: #ed202b;
}

.project-home-four .project-block .inner-box .text p{
	color: #fff;
}


/** team-home-four **/

.team-home-four{
	position: relative;
	padding: 150px 0px;
}

.team-home-four .team-block .inner-box .share-box{
	position: absolute;
  bottom: 35px;
  right: 20px;
}

.team-home-four .team-block .inner-box .share-box:before{
  position: absolute;
  content: '';
  background: transparent;
  width: 100%;
  height: 15px;
  left: 0px;
  top: -15px;
}

.team-home-four .team-block .inner-box .share-box .share-icon{
	position: relative;
	display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #222;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  transition: all 500ms ease;
}

.team-home-four .team-block .inner-box .share-box:hover .share-icon{
	color: #ed202b;
}

.team-home-four .team-block .inner-box .share-box .share-links{
	position: absolute;
  right: 0px;
  bottom: 45px;
  transform: scaleY(0);
  transform-origin: bottom center;
  opacity: 0;
  transition: all 500ms ease;
}

.team-home-four .team-block .inner-box .share-box:hover .share-links{
  bottom: 60px;
  opacity: 1;
  transform: scaleY(1);
}

.team-home-four .team-block .inner-box .share-box .share-links li{
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.team-home-four .team-block .inner-box .share-box .share-links li:last-child{
	margin-bottom: 0px;
}

.team-home-four .team-block .inner-box .share-box .share-links li a{
  position: relative;
	display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #222;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  transition: all 500ms ease;
}

.team-home-four .team-block .inner-box .share-box .share-links li a:hover{
  color: #ed202b;
}

.team-home-four .team-block .inner-box{
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 15px;
	margin: 0 auto;
	margin-bottom:30px;
}

.team-home-four .team-block .inner-box .image-box{
	position: relative;
	display: block;
	overflow: hidden;
	background: #f6f3ec;
	transition: all 500ms ease;
}

.team-home-four .team-block .inner-box:hover .image-box{
	background: #1f2021;
}

.team-home-four .team-block .inner-box .image-box img{
	width: 100%;
	transition: all 500ms ease;
}

.team-home-four .team-block .inner-box:hover .image-box img{
	transform: scale(1.05);
	opacity: 0.5;
}

.team-home-four .team-block .inner-box .lower-content{
	position: relative;
	display: block;
	padding: 30px 40px 32px 40px;
	background: #ed202b;
}

.team-home-four .team-block .inner-box .lower-content h4{
	display: block;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 7px;
}

.team-home-four .team-block .inner-box .lower-content h4{
	display: inline-block;
	color: #fff;
	transition: all 500ms ease;
}

.team-home-four .team-block .inner-box .lower-content h4 a:hover{
	text-decoration: underline;
}

.team-home-four .team-block .inner-box .lower-content .designation{
	position: relative;
	display: block;
	font-size: 15px;
	color: #fff;
}

.team-home-four .team-block .inner-box .lower-content .shape{
	position: absolute;
	left: 0px;
	top: -34px;
	width: 370px;
	height: 34px;
	background-repeat: no-repeat;
}

.team-home-four .pattern-layer .pattern-1{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 475px;
	height: 521px;
	background-repeat: no-repeat;
}

.team-home-four .pattern-layer .pattern-2{
	position: absolute;
	right: 0px;
	bottom: 180px;
	width: 329px;
	height: 322px;
	background-repeat: no-repeat;
}



.faq-style1-area.home-four{
	position: relative;
	padding: 150px 0px;
	background: #f8f5ee;
}

.faq-style1-area.home-four .accordion-box .block .acc-btn{
	background: transparent;
}

.faq-style1-area.home-four .image-box{
	position: relative;
	display: block;
	padding-left: 40px;
	padding-right: 50px;
	padding-top: 50px;
}

.faq-style1-area.home-four .image-box .image{
	position: relative;
	border-radius: 20px;
	overflow: hidden;
}

.faq-style1-area.home-four .image-box .image:before{
  position: absolute;
  top: 0;
  left: -75%;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  z-index: 1;
}

.faq-style1-area.home-four .image-box .image:hover:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

.faq-style1-area.home-four .image-box img{
	width: 100%;
	border-radius: 20px;
}

.faq-style1-area.home-four .faq-style1__content{
	margin-right: 40px;
	padding-bottom: 0px;
}

.faq-style1-area.home-four .image-box .bg-layer{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 270px;
	height: 270px;
	background: #ed202b;
	border-radius: 20px;
}

.faq-style1-area.home-four .image-box .pattern-layer{
  position: absolute;
  left: -20px;
  bottom: -50px;
  width: 143px;
  height: 143px;
  background-repeat: no-repeat;
}

.faq-style1-area.home-four .pattern-layer .pattern-1{
	position: absolute;
	left: 0px;
	bottom: 45px;
	width: 360px;
	height: 483px;
	background-repeat: no-repeat;
}

.faq-style1-area.home-four .pattern-layer .pattern-2{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 796px;
	height: 524px;
	background-repeat: no-repeat;
}


/** workig-process-home-four **/

.workig-process-home-four{
	position: relative;
	padding: 150px 0px;
	background: #1f2021;
}

.workig-process-home-four .sec-title h2 {
  color: #ffffff;
}

.workig-process-home-four .pattern-layer{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-repeat: repeat-x;
}

.workig-process-home-four .process-block .inner-box{
	position: relative;
	display: block;
	padding-left: 30px;
	padding-right: 30px;
}

.workig-process-home-four .process-block .inner-box .icon-box{
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	border: 2px dashed rgba(255,255,255,0.15);
	border-radius: 50%;
	margin-bottom: 25px;
	padding: 8px;
}

.workig-process-home-four .process-block .inner-box .icon-box .icon{
	position: relative;
	display: inline-block;
	width: 130px;
	height: 130px;
	line-height: 130px;
	background: #ed202b;
	font-size: 60px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	z-index: 1;
	transition: all 500ms ease;
}

.workig-process-home-four .process-block .inner-box:hover .icon-box .icon{
	color: #ed202b;
}

.workig-process-home-four .process-block .inner-box .icon-box .icon:before{
	position: absolute;
	content: '';
	background: #fff;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	transform: scale(0,0);
	z-index: -1;
	border-radius: 50%;
	transition: all 500ms ease;
}

.workig-process-home-four .process-block .inner-box:hover .icon-box .icon:before{
	transform: scale(1,1);
}

.workig-process-home-four .process-block .inner-box .icon-box span{
	position: absolute;
	left: -6px;
	top: -6px;
	width: 56px;
	height: 56px;
	line-height: 56px;
	background: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	font-weight: 600;
	color: #222;
	font-family: 'Montserrat', sans-serif;
	z-index: 1;
	transition: all 500ms ease;
}

.workig-process-home-four .process-block .inner-box:hover .icon-box span{
	box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 15%);
}

.workig-process-home-four .process-block .inner-box h3{
	position: relative;
	display: block;
	font-size: 22px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 15px;
}

.workig-process-home-four .process-block .inner-box p{
	color: #b5b5b5;
	line-height: 30px;
	margin-bottom: 0px;
}

.workig-process-home-four .process-block .inner-box .arrow{
	position: absolute;
	top: 70px;
	right: -60px;
	width: 103px;
	height: 15px;
	background-repeat: no-repeat;
}

.contact-style1-area.home-4 .contact-form-box1 form input[type="text"], 
.contact-style1-area.home-4 .contact-form-box1 form input[type="email"], 
.contact-style1-area.home-4 .contact-form-box1 form input[type="tel"], 
.contact-style1-area.home-4 .contact-form-box1 form textarea{
	background: #fff;
	color: #222;
}

.contact-style1-area.home-4 .contact-form-box1 form input[type="text"]::-webkit-input-placeholder {
  color: #222;
}
.contact-style1-area.home-4 .contact-form-box1 form input[type="text"]:-moz-placeholder {
  color: #222;
}
.contact-style1-area.home-4 .contact-form-box1 form input[type="tel"]:-moz-placeholder {
  color: #222;
}
.contact-style1-area.home-4 .contact-form-box1 form input[type="tel"]::-webkit-input-placeholder {
  color: #222;
}
.contact-style1-area.home-4 .contact-form-box1 form input[type="text"]::-moz-placeholder {
  color: #222;
}
.contact-style1-area.home-4 .contact-form-box1 form input[type="text"]:-ms-input-placeholder {
  color: #222;
}

.contact-style1-area.home-4 .image-layer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 1;
}

.contact-style1-area.home-4 .contact-form-box1{
	margin-left: 40px;
	z-index: 1;
}

.contact-style1-area.home-4 .pattern-layer{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-repeat: repeat-x;
}

.footer-area .footer .bg-layer{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.footer-area .footer .bg-layer:before{
	position: absolute;
	content: '';
	background: #0c0c0d;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	opacity: 0.9;
}

.footer-area.home-four .footer{
	padding-top:70px;
}

.blog-style1-area.home-4 .pattern-layer{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.blog-style1-area.home-4 .single-blog-style1{
	background: transparent;
}

.blog-style1-area.home-4 .single-blog-style1 .btn-box a{
	position: relative;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	font-size: 15px;
	line-height: 26px;
	color: #222;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 600;
	border-radius: 30px;
	border: 1px solid #e5e5e5;
	padding: 11px 30px;
	z-index: 1;
	transition: all 500ms ease;
}

.blog-style1-area.home-4 .single-blog-style1 .btn-box a:hover{
	color: #fff;
	border-color: #ed202b;
	background: #ed202b;
}

.blog-style1-area.home-4 .single-blog-style1 .btn-box a:before{
	position: absolute;
	content: '';
	background: #ed202b;
	width: 0%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: -1;
	border-radius: 30px;
	transition: all 500ms ease;
}

.blog-style1-area.home-4 .single-blog-style1 .btn-box a:hover:before{
	width: 100%;
}

.blog-style1-area.home-4 .single-blog-style1 .text{
	margin-bottom: 22px;
}

.blog-style1-area.home-4{
	position: relative;
	padding: 150px 0px 40px 0px;
}

.blog-style1-area.home-4 .single-blog-style1 .img-holder .inner::before{
	display: none;
}

.blog-style1-area.home-4 .single-blog-style1 .img-holder .inner{
	background: #000;
}

.blog-style1-area.home-4 .single-blog-style1:hover .img-holder .inner img{
	opacity: 0.2;
}

.project-home-four .owl-nav,
.project-home-four .owl-dots{
	display: none !important;
}


/*** 

====================================================================
                        home-foru-Responsive-Css
====================================================================

***/


@media only screen and (max-width: 1399px){
	.main-header.home_four .header-middle .nav-outer{
		margin-right: 0px;
	}

	.header-right_buttom .btns-box{
		display: none;
	}
}

@media only screen and (max-width: 1200px){
	.main-header.home_four .header-left .logo--style2{
		display: none;
	}

	.main-header.home_four .header-left{
		display: none;
	}

	.main-header.home_four .header-middle{
		padding-left: 0px;
	}

	.main-header.home_four .auto-container{
		padding-right: 15px;
	}

	.main-header.home_four .header-top{
		padding-left: 0px;
	}

	.main-header.home_four .header-right{
		display: flex !important;
	}

	.pattern-layer{
		display: none !important;
	}

	.faq-style1-area.home-four .image-box .bg-layer{
		display: none;
	}
}

@media only screen and (max-width: 991px){
	.feature-block-one .inner-box{
		margin-bottom: 107px !important;
	}

	.feature-block:last-child .feature-block-one .inner-box{
		margin-bottom: 0px;
	}

	.service-home-four .tab-btn{
		margin-bottom: 30px !important;
	}

	.service-home-four .tab-btn-box{
		margin-bottom: 20px !important;
	}

	.paroller,
	.paroller-2{
		transform: scale(1) !important;
	}

	.team-home-four .team-block .inner-box{
		margin-bottom: 30px !important;
	}

	.team-home-four{
		padding-bottom: 120px;
	}

	.workig-process-home-four .process-block .inner-box{
		margin-bottom: 30px !important;
	}

	.workig-process-home-four{
		padding-bottom: 120px;
	}
}


@media only screen and (max-width: 767px){
	.workig-process-home-four .process-block .inner-box .arrow{
		display: none;
	}

	.about-home-four .image-box .image-shape-1,
	.about-home-four .image-box .image-shape-2{
		display: none;
	}

	.about-home-four{
		padding: 70px 0px;
	}

	.about-home-four .image-box{
		margin-right: 0px;
	}

	.funfact-home-4 .single-column:nth-child(2), .funfact-home-4 .single-column:last-child{
		padding-top: 0px;
	}

	.funfact-home-4 .single-item{
		margin-bottom: 30px !important;
	}

	.service-home-four{
		padding: 70px 0px 170px 0px;
	}

	.chooseus-home-four .inner-container{
		padding: 70px 0px 40px 0px;
	}

	.testimonials-style3-area.home-four{
		padding: 70px 0px;
	}

	.team-home-four,
	.workig-process-home-four{
		padding: 70px 0px 40px 0px;
	}

	.faq-style1-area.home-four{
		padding: 70px 0px;
	}

	.faq-style1-area.home-four .image-box{
		padding-left: 0px;
		padding-right: 0px;
	}

	.blog-style1-area.home-4{
		padding: 70px 0px 20px 0px; 
	}

	.contact-style1-area.home-4 .contact-form-box1{
		margin: 0px;
		padding: 0px;
	}

	.contact-style1-area.home-4{
		padding: 70px 0px;
	}

	.main-slider.style3 .owl-theme .owl-nav{
		display: none;
	}

	.service-home-four .image-box{
		padding: 0px;
		margin-bottom: 30px !important;
	}

	.service-home-four .image-box .image-2 {
    position: relative;
    margin-top: 30px !important;
}

	.about-home-four .image-box{
		padding: 0px;
	}

	.about-home-four .image-box .image-2{
		position: relative;
		right: 0px;
		bottom: 0px;
		margin-top: 30px !important;
		margin-bottom: 30px !important;
	}

	.about-home-four .image-box .image-3{
		position: relative;
		right: 0px;
	}

	.service-home-four .content-box{
		margin-left: 0px;
	}

	.service-home-four .content-box .list li{
		width: 100%;
	}

	.service-home-four .image.image-1.image-3{
		margin-top: 30px !important;
		margin-bottom: 30px !important;
		margin-right: 0px;
	}

	.service-home-four .image-box .two-image{
		margin-left: 0px;
	}
}


@media only screen and (max-width: 1199px){
	.header-right {
		display: none;
	}
	.header .auto-container {
		padding: 0px 15px;
	}
}

@media only screen and (max-width: 1024px){
	
	.about-home-four.one {
		padding-bottom: 0;
	}
	.about-home-four.two {
		padding-top: 0;
	}
	.about-style2-area.two .about-style1__content--style2 {
		margin-top: 40px !important;
	}
	
}

.one.about-home-four .pattern-layer .pattern-1 {
    left: -360px;
}
.two.about-home-four .pattern-layer .pattern-2 {
    right: -360px;
}
.about-style3-content-box ul li:nth-child(1) .single-counting-box.style2 {
   border: 2px solid var(--thm-base);
}
.blog-style1-area.h44 {
    background: transparent;
}
.blog-style1-area.h44 .single-blog-style1 {
    background: transparent;
}
.contact-style1-area.home-4 {
    /* overflow: hidden; */
}
.breadcrumb-area .title h2 {
    font-size: 44px!important;
}
.single-blog-style1 .text-holder .meta-info li::before {
    background: #ed212a!important;
}

.header-left .logo a img {
    width: 180px;
}

