/*** 
=============================================
    Footer area style
=============================================
***/
.footer-area {
    position: relative;
    display: block;
    z-index: 10;
}
.footer-area.gray-bg{
    background-color: #f8f5ee;    
}

.footer {
    position: relative;
    display: block;
    padding: 340px 0 60px;
    z-index: 1;
}
.footer-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: -1;
}

.single-footer-widget {
    position: relative;
    display: block;
    overflow: hidden;
}
.single-footer-widget.margin__top{
    margin-top: 0px;
}
.single-footer-widget .title {
    position: relative;
    display: block;
    line-height: 0;
    /* margin-top: -7px; */
    margin-bottom: 20px;
}
.single-footer-widget .title h3{
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 14px;
}


.single-footer-widget .our-company-info {
    position: relative;
    display: block;
}
.single-footer-widget .our-company-info .footer-logo {
    position: relative;
    display: block;
    margin-bottom: 15px;
}
.single-footer-widget .our-company-info .footer-logo a{
    position: relative;
    display: inline-block;
}
.single-footer-widget .our-company-info .text-box {
    position: relative;
    display: block;
}
.single-footer-widget .our-company-info .text-box p{
    color: #ffffff;
    margin: 0;
}
.single-footer-widget .open-hours{
    position: relative;
    display: block;
    margin-top: 15px;
}
.single-footer-widget .open-hours h4 {
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 0 13px;
}
.single-footer-widget .open-hours ul{
    position: relative;
    display: block;
    overflow: hidden;
}
.single-footer-widget .open-hours ul li{
    position: relative;
    display: block;
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}


.footer-widget-contact-info{
    position: relative;
    display: block;
}
.footer-widget-contact-info ul{
    position: relative;
    display: block;
    overflow: hidden;
}
.footer-widget-contact-info ul li{
    position: relative;
    display: block;
    margin-bottom: 21px;
}
.footer-widget-contact-info ul li:last-child{
    margin-bottom: 0;
}
.footer-widget-contact-info ul li .inner{
    position: relative;
    display: block;
    padding-left: 35px;
}
.footer-widget-contact-info ul li .inner .icon{
    position: absolute;
    top: 0;
    left: 1px;
    color: var(--thm-base);
    font-size: 20px;
}
.footer-widget-contact-info ul li .inner .icon.mapmarker {
    top: 2px;
    /* font-size: 24px; */
}
.footer-widget-contact-info ul li .inner .text{
    position: relative;
    display: block;
}
.footer-widget-contact-info ul li .inner .text p{
    color: #ffffff;
    margin: 0;
}
.footer-widget-contact-info ul li .inner .text p a{
    color: #ffffff; 
    transition: all 200ms linear;
    transition-delay: 0.1s;    
}
.footer-widget-contact-info ul li .inner .text p a:hover{
    color: var(--thm-base);
}


.footer-widget-links{
    position: relative;
    display: block;
    margin-top: -2px;
}
.footer-widget-links ul{
    position: relative;
    display: block;
    overflow: hidden;
}
.footer-widget-links ul li{
    position: relative;
    display: block;
    line-height: 25px;
    margin-bottom: 11px;
}
.footer-widget-links ul li:last-child{
    margin-bottom: 0;
}
.footer-widget-links ul li a{
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.footer-widget-links ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    right: 0;
    height: 1px;
    background: var(--thm-base);
    transition: .5s;
    transform: perspective(400px) scaleX(0);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    z-index: 2;    
}
.footer-widget-links ul li a:hover:before{
    transform: perspective(400px) scaleX(1.0);
}
.footer-widget-links ul li a:hover{
    color: var(--thm-base);
}



.subscribe-box {
    position: relative;
    display: block;
    max-width: 370px;
    width: 100%;
}
.subscribe-box .text {
    position: relative;
    display: block;
    padding-bottom: 20px;
}
.subscribe-box .text p{
    color: #ffffff;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}

.subscribe-form {
    position: relative;
    display: block;
    width: 100%;
}
.subscribe-form input[type="email"]{
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 29px;
    padding-right: 70px;
    background: #ffffff;
    border: 0px solid rgba(255, 255, 255, 0.20);
    color: #808080;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    border-radius: 30px;
    transition: all 500ms ease;
    font-family: var(--thm-font-2);
}
.subscribe-form input::-webkit-input-placeholder {
    color: #808080;
}
.subscribe-form input:-moz-placeholder {
    color: #808080;
}
.subscribe-form input::-moz-placeholder {
    color: #808080;
}
.subscribe-form input:-ms-input-placeholder {
    color: #808080;
}
.subscribe-form button {
    position: absolute;
    top: 0px;
    right: -1px;
    bottom: 0px;
    width: 60px;
    color: #ffffff;
    font-size: 20px;
    line-height: 60px;
    font-weight: 400;
    background: var(--thm-base);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 300ms ease 100ms;
}
.subscribe-form input[type="email"]:focus {
    color: var(--thm-black);    
}
.subscribe-form input[type="email"]:focus + button, 
.subscribe-form button:hover {
    color: var(--thm-base);
    background: var(--thm-black) !important;
}


.footer-bottom{
    position: relative;
    display: block;
    background: #0c0c0d;
    padding: 20px 0px 20px;
}
.footer-bottom .bottom-inner{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-bottom .bottom-inner .copyright{
    position: relative;
    display: block;
}
.footer-bottom .bottom-inner .copyright p{
    color: #ffffff;
    margin: 0;
}
.footer-bottom .bottom-inner .copyright p a{
    color: var(--thm-base);
}


.footer-social-link{
    position: relative;
    display: block;
}
.footer-social-link ul{}
.footer-social-link ul li{
    position: relative;
    display: inline-block;
    float: none;
    margin: 0 3px;
}
.footer-social-link ul li a{
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    color: #ffffff;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    z-index: 1;
}
.footer-social-link ul li a:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--thm-base);
    content: "";
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.0);
    transform-origin: center;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
}
.footer-social-link ul li:hover a:before{
    transform: scaleX(1.0);      
}
.footer-social-link ul li:hover a{
    color: #ffffff;
}


.footer-menu{
    position: relative;
    display: block;
}
.footer-menu .footer-nav{
    position: relative;
    display: block;
    overflow: hidden;
}
.footer-menu .footer-nav li{
    position: relative;
    display: inline-block;
    float: left;
    padding-right: 15px;
    margin-right: 15px;
}
.footer-menu .footer-nav li:before{
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 5px;
    width: 1px;
    background: #ffffff;
}
.footer-menu .footer-nav li:last-child:before{
    display: none;
}
.footer-menu .footer-nav li:last-child{
    margin-right: 0;
    padding-right: 0;
}
.footer-menu .footer-nav li a{
    color: #ffffff;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}
.footer-menu .footer-nav li a:hover{
    color: #ffffff;
}

