

/*==============================================
    Main Header Css        
===============================================*/
.main-header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
    margin: 0px;
	z-index: 999;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.sticky-header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0px 0px;
    background: rgba(255, 255, 255, 0.98);
	opacity: 0;
    visibility: hidden;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	z-index: 0;
}
.fixed-header .sticky-header {
	visibility: visible;
	-ms-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-op-animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-ms-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-op-animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-op-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-op-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
	opacity: 1;
	z-index: 999999;
}
.sticky-header .logo {
    position: relative;
    display: block;
    padding: 22px 0 22px;
}
.sticky-header .logo a{
    position: relative;
    display: inline-block;
}
.sticky-header .main-menu .navigation> li {
    margin-right: 50px;
}
.sticky-header .main-menu .navigation> li> a {
    padding: 33px 0px 37px;
}
.sticky-header .main-menu .navigation>li:hover>a,
.sticky-header .main-menu .navigation>li.current>a{
    color: var(--thm-base);
}
.sticky-header .main-menu .navigation>li>a span:before {
    display: none;
}
.sticky-header .main-menu .navigation>li>a:before {
    display: none;
}



.header-style-one {
    position: relative;;
}

  

.header {
    position: relative;
    display: block;
    background: #ffffff;
}
.header .auto-container{
    max-width: 100%;
    padding: 0 70px;
}
.header .outer-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.header-left {
    position: relative;
    display: block;
}
.header-left .logo {
    position: relative;
    display: block;
}
.header-left .logo a{
    position: relative;
    display: inline-block;
}


.header-middle {
    position: relative;
    display: block;
}
.header-middle .nav-outer {
    position: relative;
    display: block;
    float: left;
    z-index: 2;
}

.main-menu.style1{}
.main-menu {
    position: relative;
    display: block;
    float: left;
}
.main-menu .navbar-collapse{
	padding:0px;
	display:block !important;
}
.main-menu .navigation {
	position: inherit;
	display: block;
}
.main-menu .navigation> li {
    position: inherit;
    display: inline-block;
    float: left;
    margin-right: 40px;
}
.main-menu .navigation> li:last-child{
    margin-right: 0;
}
.main-menu .navigation>li>a {
    position: relative;
    display: block;
    padding: 40px 0px 40px;
    color: #172746;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 500ms ease;
    font-family: var(--thm-font-2);
    opacity: 1;
    z-index: 1;
}
.main-menu .navigation>li:hover>a,
.main-menu .navigation>li.current>a{
    color: var(--thm-base);
}
.main-menu .navigation>li.dropdown>a {
    padding-right: 15px;    
}
.main-menu .navigation>li.dropdown>a:after {
    position: absolute;
    right: 0px;
    font-family: Fontawesome;
    content: "\f107";
    font-size: 16px;
    font-weight: 100;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    z-index: 1;
}


.main-menu .navigation> li> ul,
.main-menu .navigation> li> .megamenu {
	position: absolute;
	top: 100%;
    left: inherit;
	width: 250px;
	padding: 0px 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
	-moz-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
    transform: translateY(30px);
    transition:all 100ms ease;
	z-index: 100;
}
.main-menu .navigation> li> ul:before,
.main-menu .navigation> li> .megamenu:before{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--thm-base);
    border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    z-index: -1;
}
.main-menu .navigation> li.dropdown:hover> ul,
.main-menu .navigation> li.dropdown:hover .megamenu{
	opacity:1;
	visibility:visible;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
    transform: translateY(0);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}
.main-menu .navigation> li> ul> li,
.main-menu .navigation> li> .megamenu li{
	position: relative;
    display: block;
    padding: 0 20px;
	width: 100%;
}
.main-menu .navigation> li> ul> li> a,
.main-menu .navigation> li> .megamenu li> a {
	position: relative;
	display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
	padding: 13px 0px 13px;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	text-align: left;
	text-transform: capitalize;
	transition: all 500ms ease;
    letter-spacing: 0.03em;
    font-family: var(--thm-font-2);
}
.main-menu .navigation> li> ul> li:last-child> a,
.main-menu .navigation> li> .megamenu li:last-child a{
    border: none;
} 
.main-menu .navigation> li> ul> li> a:before{
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 48px;
    color: #ffffff;
    transform: scaleX(0);
	transition: all 500ms ease;
}
.main-menu .navigation> li> ul> li:hover> a:before{
    transform: scaleX(1.0);
}
.main-menu .navigation> li> ul> li> a:hover{
    color: #f0ebeb; 
    padding-left: 15px; 
}
.main-menu .navigation> li> ul> li:hover > a {
    color: #f0ebeb; 
    padding-left: 15px; 
}
.main-menu .navigation> li> ul> li.dropdown a{}
.main-menu .navigation> li> ul> li.dropdown> a:after {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    font-family: FontAwesome;
    content: "\f105";
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin: 12px 0;
    text-align: right;
    z-index: 5;
}



.main-menu .navigation> li> ul> li> ul {
	position: absolute;
	top: 0%;
	left: 100%;
	width: 250px;
	padding: 0;
	display: none;
    border-left: 0px solid transparent;
    padding-left: 10px;
    border-radius: 10px;
    -moz-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
    transform: translateY(30px);
    transition:all 100ms ease;
	z-index: 100;
}
.main-menu .navigation> li> ul> li> ul:before,
.main-menu .navigation> li> ul> li> .megamenu:before{
    position: absolute;
    top: 0px;
    left: 10px;
    right: 0;
    height: 100%;
    content: '';
    background: var(--thm-base);
    border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    z-index: -1;
}

.main-menu .navigation li> ul> li.dropdown:hover ul {
	opacity:1;
	visibility:visible;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;	
}
.main-menu .navigation>li>ul>li>ul> li {
	position: relative;
    display: block;
    padding: 0 20px;
	width: 100%;
}
.main-menu .navigation> li> ul> li> ul> li> a {
	position: relative;
	display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
	padding: 13px 0px 13px;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	text-align: left;
	text-transform: capitalize;
	transition: all 500ms ease;
    letter-spacing: 0.03em;
    font-family: var(--thm-font-2);
}
.main-menu .navigation> li> ul> li> ul> li:last-child> a{
    border: none;
}
.main-menu .navigation> li> ul> li> ul> li> a:hover {
    color: #f0ebeb; 
    padding-left: 15px;
}
.main-menu .navigation> li> ul> li> ul> li> a:before{
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 48px;
    color: #f0ebeb;
    transform: scaleX(0);
	transition: all 500ms ease;
}
.main-menu .navigation> li> ul> li> ul> li:hover> a:before{
    transform: scaleX(1.0);
}


/** Megamenu Style **/
.main-menu .navigation > li.dropdown > .megamenu {
    position: absolute;
    width: 100%;
    padding: 0px 0px;
    left: 0px;
}
.main-menu .navigation li.dropdown .megamenu li h4{
  font-weight: 500;
  padding: 3px 0px;
  color: #fff;
}
.main-menu .navbar-collapse>ul li.dropdown .dropdown-btn {
    position: absolute;
    right: 0px;
    top: 0;
    width: 50px;
    height: 42px;
    border-left: 1px solid #04102a;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    color: #ffffff;
    cursor: pointer;
    display: none;
    z-index: 5;
}



.header-right {
    position: relative;
    display: flex;
    align-items: center;
}
.shopping-cart-box{
    position: relative;
    display: block;
}
.shopping-cart-box a{
    position: relative;
    display: block;
    width: 42px;
    height: 42px;
    border: 1px solid var(--thm-base);
    border-radius: 50%;
    color: var(--thm-base);
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;    
}
.shopping-cart-box a:hover{
    border: 1px solid var(--thm-primary) !important;
}
.shopping-cart-box a .count {
    position: absolute;
    top: -5px;
    right: -3px;
    width: 15px;
    height: 16px;
    background: var(--thm-base);
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    border-radius: 50%;
    font-family: var(--thm-font);
}

.space-box1{
    position: relative;
    display: block;
    width: 40px;
    height: 42px;
}
.space-box1:before{
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 1px;
    background: #dae5ec;
    content: "";
}

.header-right_buttom {
    position: relative;
    display: block;
    margin-left: 30px;
}
.header-right_buttom .btns-box {
    position: relative;
    display: block;
    line-height: 0;
}



/*** 
=====================================================
	Main Header style Two Css
=====================================================
***/
.header-style-two {
    position: relative;
}

.header-top {
    position: relative;
    display: block;
    background: #1f2021;
    padding: 15px 0;
    overflow: hidden;
    z-index: 10;
}
.header-top .auto-container{
    max-width: 100%;
    padding: 0 70px;
}
.header-top .outer-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-top__left{
    position: relative;
    display: block;
}
.header-social-link{
    position: relative;
    display: flex;
    align-items: center;
}
.header-social-link .title{
    position: relative;
    display: block;
}
.header-social-link .title h6{
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
}
.header-social-link .social-link{
    position: relative;
    display: block;
    padding-left: 30px;
}
.header-social-link .social-link ul{
    overflow: hidden;
}
.header-social-link .social-link ul li{
    position: relative;
    display: block;
    float: left;
    margin-right: 25px;
    line-height: 30px;
}
.header-social-link .social-link ul li:last-child{
    margin-right: 0;
}
.header-social-link .social-link ul li a{
    color: rgba(255, 255, 255, 0.50);
    font-size: 15px;
    transition: all 200ms linear;
    transition-delay: 0.1s; 
}
.header-social-link .social-link ul li a:hover{
    color: #ffffff;
}


.header-top__right{
    position: relative;
    display: block;    
}
.header-contact-info{
    position: relative;
    display: block;
}
.header-contact-info ul{
    overflow: hidden;
}
.header-contact-info ul li{
    position: relative;
    display: flex;
    align-items: center;
    float: left;
    padding-right: 25px;
    margin-right: 26px;
}
.header-contact-info ul li:last-child{
    padding-right: 0;
    margin-right: 0;
}
.header-contact-info ul li:before{
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 4px;
    width: 1px;
    background: #ffffff;
    opacity: 0.20;
}
.header-contact-info ul li:last-child:before{
    display: none;
}
.header-contact-info ul li .icon {
    width: 30px;
    line-height: 20px;
}
.header-contact-info ul li .icon span:before{
    position: relative;
    display: inline-block;
    top: 1px;
    color: #fff;
    font-size: 15px;
}
.header-contact-info ul li .text{
    position: relative;
    display: block;
}
.header-contact-info ul li .text h6{
    color: #fff;
    font-size: 15px;    
}
.header-contact-info ul li .text h6 a{
    color: #fff;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;        
}
.header-contact-info ul li .text h6 a:hover{
    color: var(--thm-base);
}


.header-left .logo--style2{
    position: relative;
    display: block;
    z-index: 1;
}
.header-left .logo--style2 .bg-box {
    position: absolute;
    top: -40px;
    left: -100px;
    bottom: -130px;
    right: -170px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}


.header-style-two .header {
    box-shadow: 0px 20px 40px 0px rgba(23, 39, 70, 0.05);
}


