/*** 
=============================================
    service Style1 Area Css
=============================================
***/
.service-style1-area{
    position: relative;
    display: block;
    background: #ffffff;
    padding: 150px 0 150px;
    overflow: hidden;
    z-index: 1;
}
.service-style1-area.pdbtm100{
    padding-bottom: 100px;
}


.service-style1-area .shape1{
    position: absolute;
    left: 10%;
    bottom: 120px;
}

.single-service-style1{
    position: relative;
    display: block;
    max-width: 370px;
    width: 100%;
    margin: 0 auto 50px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 50px 0px rgba(26, 46, 85, 0.1);
}
.single-service-style1 .img-holder{
    position: relative;
    display: block;
    z-index: 1;
}
.single-service-style1 .img-holder .shape-bg{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 2;
}
.single-service-style1 .img-holder .inner {
    position: relative;
    display: block;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 2;
}
.single-service-style1 .img-holder .inner:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(var(--thm-base-rgb), .70);
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transform: perspective(400px) scaleX(0);
    -ms-transform: perspective(400px) scaleX(0);
    transform: perspective(400px) scaleX(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    z-index: 1;
}
.single-service-style1:hover .img-holder .inner:before{
    opacity: 1;
    -webkit-transform: perspective(400px) scaleX(1.0);
    -ms-transform: perspective(400px) scaleX(1.0);
    transform: perspective(400px) scaleX(1.0);
}
.single-service-style1 .img-holder img{
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.single-service-style1:hover .img-holder img{
    transform: scale(1.1) rotate(1deg);
}


.single-service-style1 .title-holder {
    position: relative;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.single-service-style1 .title-holder .icon {
    position: relative;
    display: block;
    line-height: 0;
    padding-top: 40px;
    z-index: 1;
}
.single-service-style1 .title-holder .icon span::before{
    color: var(--thm-base);
    font-size: 60px;
    line-height: 60px;
    transition: all 500ms ease;
}
.single-service-style1 .title-holder .icon .shape1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(var(--thm-base-rgb), .05);
    margin: 0 auto;
    z-index: -1;
}
.single-service-style1 .title-holder .icon .shape1::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    border-radius: 50%;
    z-index: -1;
    background-color: rgba(var(--thm-base-rgb), 1.0);
    transform: scale(0.0);
    transform-origin: center;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
}
.single-service-style1:hover .title-holder .icon .shape1::after{
    transform: scaleX(1.0);   
}
.single-service-style1:hover .title-holder .icon span::before{
    color: #ffffff !important;
}


.single-service-style1 .title-holder h3{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 15px;
}
.single-service-style1 .title-holder h3 a{
    color: var(--thm-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.single-service-style1 .title-holder h3 a:hover{
    color: var(--thm-base);
}
.single-service-style1 .title-holder .inner-text{
    position: relative;
    display: block;
}
.single-service-style1 .title-holder .inner-text p{
    margin: 0;
}


.single-service-style1 .title-holder .readmore-button{
    position: relative;
    display: block;
    margin-top: 22px;
}
.single-service-style1 .title-holder .readmore-button a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: rgba(var(--thm-base-rgb), 0.05);
    border-radius: 50%;
    color: var(--thm-base);
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    webkit-transition-duration: 800ms;
    transition-duration: 800ms;
}
.single-service-style1 .title-holder .readmore-button a:hover{
    color: #ffffff !important;
    background-color: rgba(var(--thm-base-rgb), 1.0); 
    transform: rotate(-25deg); 
}
.service-style1_btns-box {
    position: relative;
    display: block;
    padding-top: 10px;
    line-height: 0;
}



/*** 
=============================================
    service Style2 Area Css
=============================================
***/
.service-style2-area{
    position: relative;
    display: block;
    background: #f8f5ee;
    padding: 150px 0 150px;
    overflow: hidden;
    z-index: 1;
}
.service-style2-area.pdbtm120{
    padding-bottom: 120px;
}

.service-style2-area .shape1{
    position: absolute;
    left: 10%;
    bottom: 120px;
}
.service-style2-area .shape2 {
    position: absolute;
    top: -150px;
    right: 100px;
}
.service-style2-area .shape3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.service-style2-area .shape4{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.service-style2-area .shape5{
    position: absolute;
    right: 0;
    bottom: -30px;
    z-index: -1;
}



/*** 
=============================================
    service Style3 Area Css
=============================================
***/
.single-service-style1--style2{
    margin-bottom: 30px;
}
.single-service-style1--style2 .title-holder {
    position: relative;
    display: block;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}































/*** 
=============================================
    Service Details Area Css
=============================================
***/
.service-details-area{
    position: relative;
    display: block;
    background: #ffffff;
    padding: 150px 0 100px;
}




.thm-sidebar-box{
    position: relative;
    display: block;
    max-width: 370px;
    width: 100%;
}
.sidebar-title{
    position: relative;
    display: block;
    line-height: 0;
    padding-bottom: 12px;
}
.sidebar-title h3{
    font-size: 24px;
    line-height: 26px;
}



  



.service-details-area .single-sidebar {
    position: relative;
    display: block;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 45px 39px 41px;
}
.single-sidebar .service-page-link{
    position: relative;
    display: block;
}
.single-sidebar .service-page-link li{
    position: relative;
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e5e5e5;
}
.single-sidebar .service-page-link li:last-child{
    padding-bottom: 0;
    border-bottom: none;
}
.single-sidebar .service-page-link li a{
    position: relative;
    display: block;
    padding-left: 30px;
    color: #252628;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--thm-font-2); 
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;       
}
.single-sidebar .service-page-link li a:hover{
    color: var(--thm-base);
    padding-left: 40px;
}

.single-sidebar .service-page-link li a:before{
    content: "\f141";
    font-family: flaticon !important;
    position: absolute;
    left: 0;
    font-size: 18px;
    opacity: 1;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;  
}
.single-sidebar .service-page-link li a:hover:before{
    transform: scaleY(0);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;  
}
.single-sidebar .service-page-link li a:after {
    content: "\f144";
    font-family: flaticon !important;
    position: absolute;
    left: 0;
    font-size: 20px;
    transform: scaleY(0) rotate(45deg);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear; 
}
.single-sidebar .service-page-link li a:hover:after{
    transform: scaleY(1.0) rotate(45deg);
}





.service-details-content{
    position: relative;
    display: block;
}
.service-details-top-text{
    position: relative;
    display: block;
    margin-top: -9px;
}
.service-details-top-text h2{
    font-size: 44px;
    line-height: 54px;
    margin: 0 0 22px;
}
.service-details-top-text p{
    color: #252628;
}

.service-details-text1 {
    position: relative;
    display: block;
    padding: 36px 0 54px;
}
.service-details-text1 .text{
    position: relative;
    display: block;
    margin-top: -7px;
}
.service-details-text1 .text h3{
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 25px;
}
.service-details-text1 .image-box{
    position: relative;
    display: block;
}
.service-details-text1 .image-box img {
    width: 100%;
    border-radius: 20px;
}

.service-details-text2{
    position: relative;
    display: block;
}
.service-details-text2 h3{
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 25px;
}
.service-details-text2 ul{
    position: relative;
    display: block;
}
.service-details-text2 ul li{
    position: relative;
    display: block;
    padding-left: 20px;
    margin-bottom: 10px;
}
.service-details-text2 ul li:last-child{
    margin-bottom: 0;
}
.service-details-text2 ul li:before{
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 7px;
    height: 7px;
    background: #b0b0b0;
    border-radius: 50%;
}
.service-details-text2 ul li:last-child{
    margin-bottom: 0;
}



.service-details-text3{
    position: relative;
    display: block;
    padding-top: 46px;
}
.service-details-text3 .inner-title{
    position: relative;
    display: block;
    padding-bottom: 31px;
}
.service-details-text3 .inner-title h3{
    font-size: 24px;
    line-height: 34px;
}
.service-details-text3 .single-box{
    position: relative;
    display: block;
    margin-bottom: 42px;
}
.service-details-text3 .single-box .counting{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
    padding: 8px;
}
.service-details-text3 .single-box .counting .inner{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--thm-base);
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    font-weight: 600;
    font-family: var(--thm-font-2);
}
.service-details-text3 .single-box .text{
    position: relative;
    display: block;
    padding-top: 22px;
}
.service-details-text3 .single-box .text h3{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin: 0 0 14px;
}
.service-details-text3 .single-box .text p{
    margin: 0;
}
  

.related-service {
    position: relative;
    display: block;
    padding-bottom: 80px;
    z-index: 10;
}
.service-style2-area.related-service .shape1 {
    position: absolute;
    left: 10%;
    bottom: 50px;
}
.service-style2-area.related-service .shape2 {
    position: absolute;
    top: -180px;
    right: 70px;
}
.service-carousel_1.owl-nav-style-one.owl-theme .owl-nav{
    position: absolute;
    top: -120px;
    right: 0;
    z-index: 2;
}
.service-carousel_1 .single-service-style1 {
    margin: 0 auto 0px;
    box-shadow: none;
}