.admin-bar .main-header.fixed-header .main-box {
    top: 32px;
}
.about-style1__image1 img {
    max-width: none;
}
.project-style1-area.two {
    padding-top: 0;
}
.single-blog-style1 .img-holder .inner .date-box h5 a {
    color: #ffffff;
}
.about-style3-area.two .shape3 {
    right: -340px;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "\f105";
    position: relative;
    top: 1px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    text-transform: capitalize;
    margin-right: 10px;
    margin: 0;
}
.breadcrumb-menu ul li {
    margin: 0;
}
.about-style3-area.about-page .shape3 {
    left: -340px;
}
.service-details-area.two {
    padding-bottom: 0;
}
.service-details-area.three {
    padding-top: 0;
}

/*** 
=============================================
    Team Single Area Css
=============================================
***/
.team-single-area{
    position: relative;
    display: block;
    padding: 120px 0 80px;
}
.team-singel-image-box{
    position: relative;
    display: block;    
}
.team-singel-image-box img{
    width: 100%;
}

.team-member-info-box{
    position: relative;
    display: block;
    padding: 56px 45px;
    box-shadow: 0 0 20px rgb(0 0 0 / 0.05);
}

.team-member-info-box .title {
    position: relative;
    display: block;
    padding-bottom: 6px;
}

.team-member-info-box .title h3{
    color: #222222;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 0 0 6px;
}

.team-member-info-box .title span{
    color: #798795;
    font-size: 16px;
    font-weight: 400;
}

.team-member-info-box ul {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 22px;
}
.team-member-info-box ul li {
    color: #798795;
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
}
.team-member-info-box ul li span {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    color: #000000;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.team-member-info-box ul li a{
    color: #798795;
}
.team-member-info-box .social-links-style1 {
    margin-top: 36px;
}
.team-member-info-box .social-links-style1 li a i {
    position: relative;
    display: block;
    background: #ededed;
    width: 40px;
    height: 40px;
    border-radius: 10px 20px 10px 20px;
    color: #798795;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    transition: all 500ms ease;
}
.team-member-info-box .social-links-style1 li a:hover i{
    color: #ffffff;
    background: var(--thm-base);
}

.team-member-content-box {
    position: relative;
    display: block;
    padding-top: 46px;
    padding-bottom: 20px;
}
.team-member-content-box h3{
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 30px;
}
/* Resume */

.resume h3 {
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 50px;
}

.resume .info-box{
    position: relative;
    padding-left: 125px;
}

.resume .info-box .inner{
    position: relative;
}

.resume .info-box .date{
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 20px;
    background-color: #222222;
    border-radius: 3px 20px 20px 3px;
}

.resume .info-box:hover .date{
    -webkit-transform: rotateX(-360deg);
    -ms-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
    -webkit-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}


.resume .info-box .date:before{
    position: absolute;
    top: 6px;
    right: -6px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #222222;
    content: "";
}

.resume .info-box .inner{
    position: relative;
}

.resume .info-box .title{
    position: relative;
    padding: 20px 25px;
    background-color: #f9f9f9;
    margin-bottom: 25px;
}

.resume .info-box .title:before{
    position: absolute;
    left: -34px;
    top: 22px;
    height: 17px;
    width: 17px;
    border:1px solid #dddddd;
    border-radius: 10px;
    content: "";
    background-color: #ffffff;
}

.resume .info-box .title:after{
    position: absolute;
    top: 26px;
    left: -30px;
    height: 9px;
    width: 9px;
    border-radius: 10px;
    background-color: var(--thm-base);
    content:"";
}

.resume .info-box .title h4{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #222222;
    font-weight: 600;
}

.resume .info-box .title span{
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #222222;
    font-weight: 400;
}

.resume .info-box h5{
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume .info-box .content{
    position: relative;
    padding: 0 25px;
    margin-bottom: 50px;
}

.resume .info-box .text{
    position: relative;
    margin-bottom: 20px;
}

.resume .info-box .image-box{
    position: relative;
    margin-bottom: 30px;
}

.resume .info-box .image-box img{
    display: block;
    width: 100%;
    height: auto;
}

.resume .info-box ol{
    position: relative;
    counter-reset:count;
    margin-bottom: 50px;
}

.resume .info-box ol li{
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color: #222222;
    line-height: 32px;
}

.resume .info-box ol li:before{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    line-height: 32px;
    font-weight: 700;
    color: #222222;
    counter-increment: count;
    content: counter(count);
}

.resume .info-box ol li:after{
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    color: #222222;
    content: "-";
}
.one.team-single-area {
    padding-bottom: 0;
}
.two.team-single-area {
    padding-bottom: 0;
}
.three.team-single-area {
    padding: 0;
}
.four.team-single-area {
    padding-top: 0;
}
.project-details-area.one {
    padding-bottom: 0;
}
.project-details-area.two {
    padding: 0;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 0 !important;
}
.project-details-area.three {
    padding-top: 0;
}


.project-style1-area.two.testimonials-style1--testimonial-page {
    background: #fff;
}





span.page-numbers.current {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    color: var(--thm-black);
    font-size: 16px;
    line-height: 53px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: all 500ms ease;
    font-family: var(--thm-font-2);
    z-index: 1;
}
.styled-pagination li a i {
    color: var(--thm-base);
}
.styled-pagination li:hover a i {
	color: #ffffff;
}


.blog-details-social-links .inner-title h3 {
    margin: 0;
}
.styled-pagination li a i {
    font-weight: 900;
}




.blog-details-social-links .inner-title h3 {
    margin: 0;
}
.error-content p {
    color: var(--thm-gray);
}
.error-page-area {
    padding: 150px 0 100px;
}




.faq-style1-area.two {
    margin-left: 50px;
}
.main-contact-form-area.two {
    padding-top: 80px;
}
.blog-page-three.blog-single .single-blog-style1 {
    margin-bottom: 15px!important;
}


footer.footer-area.one.home-four {
    padding-right: 60px;
}
footer.footer-area.one {
    padding-right: 35px;
}







.chooseus-home-four.two .inner-container .image-box {
    position: relative;
}