/*Sidebar & Footer Default Style*/
/************************ Blog Widget Style************************/
a {
    color: #e6be1a;
}


/****************Custom Widget*********************/
.widget select{
	width:100%;
	display:block;
	border:1px solid #ededed;
	padding:6px 6px;
	margin-top:15px;
	height:50px;
}
.textwidget img {
    height: auto;
    max-width: 100%;
}
.widget ul li ul{
	padding:0px;
	margin:0px;
}
.widget ul li ul li{
	border-bottom:none;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:10px;
	padding-top:10px;
	border-top:1px solid #eaeaea;
	margin-left:5px;
}

.widget ul li ul li:after{
	top:10px;
}

.tagcloud a {
    position: relative;
    display: inline-block;
    line-height: 24px;
    padding: 6px 18px 6px;
    margin: 0px 6px 10px 0px;
    color: #222;
    text-align: center;
    font-size: 14px !important;
    background: none;
    font-weight: 600;
    border: 1px solid #e4e4e4;
    text-transform: capitalize;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    font-family: 'Open Sans', sans-serif;
}
.tagcloud a:hover {
    border-color: #f47629;
    background-color: #f47629;
    color: #ffffff;
}
.mrsidebar{
    margin-bottom: 36px;
}

.mrsidebar .sidebar-title h3:before {
    background: -webkit-linear-gradient(0deg, #00b8ff, #0081ff 100%);
}


.comment-box .title h3 {
    margin-top: 0;
    margin-bottom: 0;
}





/*categories*/

.wp-block-categories {
    position: relative;
    display: block;
    overflow: hidden;
}

.mrwidget  ul li {
	position: relative;
    display: block;
}

.mrwidget ul li a {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    /* padding-bottom: 15px; */
    /* margin-bottom: 15px; */
    color: #252628;
    /* font-size: 16px; */
    /* font-weight: 500; */
    /* line-height: 40px; */
    text-transform: capitalize;
    font-family: var(--thm-font-2);
    /* border-bottom: 1px solid #e5e5e5; */
    transition: all 200ms linear;
    transition-delay: 0.1s;
    width: 88%;
}
.mrwidget  ul li a:before {
    font-family: flaticon !important;
    content: "\f141";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 18px;
    transition: all 50ms linear;
    transition-delay: 0.1s;
}
.mrwidget  ul li:hover a:before{
    font-size: 24px;
}
.mrwidget  ul li:hover a {
    color: var(--thm-base);
    padding-left: 35px;
}
.mrwidget  ul li:last-child a {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}




/*archives*/

.mrwidget  li {
  position: relative;
  display: block;
  padding: 12px 0px;
  border-bottom: 1px solid #e9ebf0;
}

.mrwidget  li a {
    position: relative;
    font-size: 15px;
    line-height: 35px;
    /* font-family: 'Spartan', sans-serif; */
    /* color: #172746; */
    font-weight: 500;
    /* width: 92%; */
    /* display: inline-block; */
}

.mrwidget  li a:hover{}

.mrwidget  {
  padding-bottom: 28px;
}

/*tags*/

.widget_tag_cloud {
    position: relative;
    display: inline-block;
    /* float: left; */
    /* margin: 0; */
}

.widget_tag_cloud a {
    float: unset;
    margin: 0 5px 10px;
    position: relative;
    display: inline-block;
    padding: 6px 20px 7px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 27px;
    color: #808080;
    font-size: 15px !important;
    line-height: 25px;
    font-weight: 500;
    transition: all 500ms ease;
    font-family: var(--thm-font-2);
    text-transform: capitalize;
}

.widget_tag_cloud a:hover {
    color: #ffffff;
    border-color: var(--thm-base);
    background-color: var(--thm-base);
}
.sidebar-blog-post ul li .img-box img {
    height: 70px;
}
p.wp-block-tag-cloud {
    margin-bottom: 0 !important;
}


/*search*/


.wp-block-search .wp-block-search__input {
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    color: #585858;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 27px;
    transition: all 500ms ease 0s;
}
.wp-block-search .wp-block-search__button {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0;
    bottom: 0px;
    width: 90px;
    color: #fff;
    height: 55px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 16px;
    line-height: 55px;
    background: var(--thm-base);
    display: block;
    text-align: center;
    border: 0px solid #e7e7e8;
    transition: all 500ms ease 0s;
}
.wp-block-search .wp-block-search__inside-wrapper {
    position: relative;
}
.widget_block widget_searc {}
.widget_block {}
.widget_block h2 {
    position: relative;
    display: block;
    line-height: 0;
    margin-top: -2px;
    padding-bottom: 26px;
	color: var(--thm-black);
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.wp-block-search .wp-block-search__label {
    color: var(--thm-black);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    display: block;
    margin-top: -2px;
    padding-bottom: 26px;
    margin-bottom: 0;
}



.single-sidebar-box.post {
    border: unset;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.widget_block {
    position: relative;
    display: block;
    border: 1px solid #e5e5e5;
    padding: 39px 39px 39px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.widget_roofplan_latest_post {
    position: relative;
    display: block;
    border: 1px solid #e5e5e5;
    padding: 39px 39px 39px;
    border-radius: 10px;
    margin-bottom: 50px;
}



.wp-block-archives {
	position: relative;
    display: block;
    overflow: hidden;
    margin-top: -3px;
}
.wp-block-archives li {
	position: relative;
    display: block;
}
.wp-block-archives li a {
    /* position: relative; */
    /* display: block; */
    /* padding-bottom: 15px; */
    /* margin-bottom: 15px; */
    /* color: #252628; */
    /* font-size: 16px; */
    /* font-weight: 500; */
    /* line-height: 40px; */
    /* text-transform: capitalize; */
    /* font-family: var(--thm-font-2); */
    /* border-bottom: 1px solid #e5e5e5; */
    /* transition: all 200ms linear; */
    /* transition-delay: 0.1s; */
}
.single-sidebar-box .archive-lists li a span{
    position: relative;
    display: inline-block;
    float: right;
}
.wp-block-archives li:last-child a{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.wp-block-archives li:hover a{
    color: var(--thm-base);
}



.faq-style1-area.pdtop150.two {
    margin-left: 60px;
}






.mrwidget .title {
	position: relative;
	display: block;
	line-height: 0;
	margin-top: 0px;
	padding-bottom: 15px;
}
.mrwidget .title h3 {
	    color: var(--thm-black);
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.single-blog-style1 .text-holder .blog-title a {
    /* font-size: 30px; */
}

.mrwidget .title h3{
	font-size: 18px;
}
.single-blog-style1 {
    margin-bottom: 40px!important;
}
.mrwidget {
    margin-bottom: 40px;
}
.sidebar-content-box {
    max-width: 100%!important;
    padding-left: 10px!important;
}
.single-sidebar {
    padding: 30px!important;
}

.nice-select {
    float: inherit!important;
    width: 100%!important;
}
.nice-select.open .list {
    width: 100%;
}


.widget_recent_comments ul li a:before{
	display:none;
}
.widget_recent_comments ul li a{
	padding-left:0px!important;
	 display: initial!important;
}
.widget_rss ul li:hover a {
    padding-left: 0px;
}
.widget_rss ul li a {
    line-height: 28px;
    padding-bottom: 15px;
}

.mrwidget{
    border: 1px solid #e5e5e5;
    padding: 30px;
    border-radius: 10px;

}

.pagination li .page-numbers.current {
    color: #ffffff;
    border-color: var(--thm-base);
    background: var(--thm-base);
}



.widget_nav_menu {}
.widget_nav_menu ul {}
.widget_nav_menu ul li {}
.widget_nav_menu ul li a {}
.widget_nav_menu ul li ul {}
.widget_nav_menu ul li ul li {
    margin-left: 0;
}
.widget_nav_menu ul li ul li a {
    color: #252628 !important;
}
.mrwidget ul li:hover ul li a {
    padding-left: 30px;
}
.mrwidget ul li:hover ul li a:before {
    font-size: 18px;
}
.widget_categories {
    overflow: visible;
}
.widget_archive {
    overflow: visible;
}
.widget_text {
    overflow: visible;
}
.mrfooter .widget_nav_menu ul li ul li a {
    color: #fff !important;
}
.sidebar-blog-post ul li .title-box h4 a {
    color: var(--thm-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
    position: relative;
    display: unset;
    padding-left: unset;
    color: unset;
    text-transform: unset;
    font-family: unset;
    transition: all 200ms linear;
    transition-delay: unset;
    width: unset;
    font-size: unset;
    line-height: unset;
}
.sidebar-blog-post ul li .title-box h4 a:before {
    display: none;
}
.sidebar-blog-post ul li .img-box .overlay-content a:before {
    display: none;
}
.sidebar-blog-post ul li .img-box .overlay-content a {
    padding-left: unset;
    text-align: center;
}
.sidebar-blog-post ul li .title-box .date a:before {
    display: none;
}
.sidebar-blog-post ul li .title-box .date a {
    padding-left: 0;
}


span.page-numbers.dots {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    color: var(--thm-black);
    font-size: 16px;
    line-height: 51px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: all 500ms ease;
    font-family: var(--thm-font-2);
    z-index: 1;
}
span.page-numbers.dots:hover {
    color: #ffffff;
    border-color: var(--thm-base);
    background: var(--thm-base);
}
.single-blog-style1 .text-holder .meta-info {
    /* margin-bottom: 15px!important; */
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.pagination {
    display: inline-block!important;
}

.pagination li{
	margin-bottom:7px!important;
}


@media only screen and (max-width: 900px){
.sidebar-textwidget {
    padding-left: 80px;
}
}